body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, blue, pink) no-repeat;
    background-attachment: fixed;
}


    /*background-color: #ffffff10;
    filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/

.box{
    width: 450px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: "Roboto", sans-serif;
}

/*this is the section that resizes all the box contents, including pic (200px) */
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
}
.box li a{
    color: white;
    opacity: 80%;
    font-size: 20px;
}
