body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #C33764, #1D2671) no-repeat;
    background-attachment: fixed;
}


    /*background-color: #ffffff10;
    filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);*/

.box{
    width: 450px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: "Roboto", sans-serif;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

/*this is the section that resizes all the box contents, including pic (200px) */
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
}

.box h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 100;
}

.box h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}

p{
    letter-spacing: 1px;
}

ul{
    margin: 0;
    padding: 0;
}

.box li{
    display: inline-block;
    margin: 6px;
}
.box li a{
    color: white;
    opacity: 80%;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    
    .box{
        width: 300px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        font-family: "Roboto", sans-serif;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    }

    .box h1{
        font-size: 30px;
    }

    .box h5{
        font-size: 16px;
        letter-spacing: 1px;
    }

    p{
        font-size: 14px;
        
    }
    
}

@media screen and (max-width: 600px) {

    .box{
        width: 375px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 20%;
        margin-left: 15%;
        margin-right: 15%;
        color: white;
        font-family: "Roboto", sans-serif;
        box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
    }
}


